flows.json.txt
[{"id":"c88a7e9518e3755d","type":"tab","label":"Ostrzeżenia Pogodowe","disabled":false,"info":"","env":[]},{"id":"7f286a2e0e451819","type":"function","z":"c88a7e9518e3755d","name":"Wiadomość","func":"msg.payload = \n{\n    \"data\":\n    {\n        \"message\": \"Nadchodzi Burza\",\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":120,"wires":[["6b26a487d75cd33b","b4d8aee9622bc0b0"]]},{"id":"6b26a487d75cd33b","type":"api-call-service","z":"c88a7e9518e3755d","name":"wiadomość telegram","server":"fbdeced3.68803","version":4,"debugenabled":false,"domain":"notify","service":"jerzyhome_bot","target":{"entityId":[],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":360,"wires":[["88793c0b44f2a07c"]]},{"id":"37d17876bf9d1add","type":"function","z":"c88a7e9518e3755d","name":"Wiadomość","func":"msg.payload = \n{\n    \"data\":\n    {\n        \"message\": \"Ostrzeżenie o sinym wietrze\",\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":200,"wires":[["6b26a487d75cd33b","b4d8aee9622bc0b0"]]},{"id":"7fe6c67a3ad5376b","type":"function","z":"c88a7e9518e3755d","name":"Wiadomość","func":"msg.payload = \n{\n    \"data\":\n    {\n        \"message\": \"Ostrzeżenie o sinym mrozie\",\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":280,"wires":[["6b26a487d75cd33b","b4d8aee9622bc0b0"]]},{"id":"18e4f7c6ecbe1119","type":"function","z":"c88a7e9518e3755d","name":"Wiadomość","func":"msg.payload = \n{\n    \"data\":\n    {\n        \"message\": \"Ostrzeżenie o Upałach\",\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":360,"wires":[["6b26a487d75cd33b","b4d8aee9622bc0b0"]]},{"id":"4ed8bd00918275cb","type":"function","z":"c88a7e9518e3755d","name":"Wiadomość","func":"msg.payload = \n{\n    \"data\":\n    {\n        \"message\": \"Ostrzeżenie o trąbach powietrznych\",\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":440,"wires":[["b4d8aee9622bc0b0"]]},{"id":"4220dd469c812c5f","type":"function","z":"c88a7e9518e3755d","name":"Wiadomość","func":"msg.payload = \n{\n    \"data\":\n    {\n        \"message\": \"Ostrzeżenie o opadach\",\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":520,"wires":[["6b26a487d75cd33b","b4d8aee9622bc0b0"]]},{"id":"b4d8aee9622bc0b0","type":"api-call-service","z":"c88a7e9518e3755d","name":"wiadomość aplikacja HA","server":"fbdeced3.68803","version":4,"debugenabled":false,"domain":"notify","service":"mobile_app_sm_g950f","target":{"entityId":[],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":260,"wires":[["c30aec6316ca4b21"]]},{"id":"c30aec6316ca4b21","type":"debug","z":"c88a7e9518e3755d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":160,"wires":[]},{"id":"88793c0b44f2a07c","type":"debug","z":"c88a7e9518e3755d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":420,"wires":[]},{"id":"7f183a63dfe198a9","type":"server-state-changed","z":"c88a7e9518e3755d","name":"Wiatr","server":"fbdeced3.68803","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.burze_dzis_net_wind_warning","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":200,"wires":[["37d17876bf9d1add"],[]]},{"id":"b70c7e367bf58629","type":"server-state-changed","z":"c88a7e9518e3755d","name":"Burza","server":"fbdeced3.68803","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.burze_dzis_net_storm_warning","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":120,"wires":[["7f286a2e0e451819"],[]]},{"id":"b744f54ed11c4aca","type":"server-state-changed","z":"c88a7e9518e3755d","name":"Mróz","server":"fbdeced3.68803","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.burze_dzis_net_frost_warning","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":280,"wires":[["7fe6c67a3ad5376b"],[]]},{"id":"af475b85204accf4","type":"server-state-changed","z":"c88a7e9518e3755d","name":"Upał","server":"fbdeced3.68803","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.burze_dzis_net_heat_warning","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":360,"wires":[["18e4f7c6ecbe1119"],[]]},{"id":"b489646b8b98cde1","type":"server-state-changed","z":"c88a7e9518e3755d","name":"Trąba","server":"fbdeced3.68803","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.burze_dzis_net_tornado_warning","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":440,"wires":[["4ed8bd00918275cb"],[]]},{"id":"9cbe0e06c2272be7","type":"server-state-changed","z":"c88a7e9518e3755d","name":"Opady","server":"fbdeced3.68803","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.burze_dzis_net_precipitation_warning","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":520,"wires":[["4220dd469c812c5f"],[]]},{"id":"8af05c8956d22f43","type":"inject","z":"c88a7e9518e3755d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":60,"wires":[[]]},{"id":"fbdeced3.68803","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]